
.icon-bitcoin:before { content: '\e800'; } /* '' */
.icon-reddit:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-lego:before { content: '\e806'; } /* '' */
.icon-login:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
